*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
p{
    line-height: 1.5;
}

#container{
    max-width: 480px;
    text-align: center;
    padding: 40px 20px;
    min-height:100%;
}

#container.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E1E1E1;
    border-radius: 20px;
    padding: 10px;
}

#btn-scan-qr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 18px;
    border-radius: 300px;
    width: 70%;
    border: none;
    background-color: #7593E4;
    font-weight: bold;
    padding: 8px 20px;
    color: #fff;
}
#btn-scan-qr:hover{
    background-color: #6681c9;
}
#btn-scan-qr:active{
    background-color: #9fb1e2;
}

.img-sample img{
    width: 200px;
    height: auto;
    margin: 10px;
}

#qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

.terminal{
    background-color: #9fb1e2;
}