*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
p{
    line-height: 1.5;
}

#container{
    max-width: 480px;
    text-align: center;
    padding: 40px 20px;
    background-color: #FDFDFB;
}

#container.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E1E1E1;
    border-radius: 20px;
    padding: 10px;
}

#btn-scan-qr{
    font-size: 18px;
    border-radius: 300px;
    width: 70%;
    border: none;
    background-color: #7593E4;
    font-weight: bold;
    padding: 8px 20px;
    color: #fff;
}
#btn-scan-qr:hover{
    background-color: #6681c9;
}
#btn-scan-qr:active{
    background-color: #9fb1e2;
}

.img-sample img{
    width: 200px;
    height: auto;
    margin: 10px;
}

#qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

#popup{
    position: fixed;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
